/* src/app/globals.css */

:root {
  --cor-azul-noturno: #1E2A38;
  --cor-azul-medio: #2D82B7;
  --cor-cinza-neutro: #ECEFF1;
  --cor-branco-puro: #FFFFFF;
  --cor-grafite: #444444;
  --cor-verde-esmeralda: #2E7D32;
  --cor-vermelho-rubi: #D32F2F;
  --cor-ambar: #FFB300;

  /* Tipografia */
  --fonte-titulo: 'Inter', sans-serif;
  --fonte-subtitulo: 'Muli', 'Roboto', sans-serif;
  --fonte-corpo: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--fonte-corpo);
  color: var(--cor-grafite);
  background-color: var(--cor-branco-puro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fonte-titulo);
  color: var(--cor-azul-noturno);
  font-weight: bold;
}

button {
    font-family: var(--fonte-subtitulo);
    font-weight: normal;
}

/* Estilos básicos para links, reset de box-sizing etc. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--cor-azul-medio);
  text-decoration: none; /* REMOVE O SUBINHADO PADRÃO */
}

a:hover {
  text-decoration: underline; /* ADICIONA O SUBINHADO APENAS NO HOVER */
}